/*@font-face {*/
/*    font-family: 'PoppinsRegular';*/
/*    src: url('Poppins-Regular.woff2') format('woff2');*/
/*}*/


body {
    background-color: #0f0f0f;
    font-family: Rubik, "Rubik Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    color: #d6d3d3;
}

.home h1 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 10px;
}

.home p {
    text-align: center;
    font-size: 14px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(470px, 1fr));
    padding: 20px;
    gap: 10px;
}

.card {
    padding: 25px;
    width: 100%;
    cursor: pointer;
    transition: background 0.3s;
    border-radius: 12px;
    border: 1px #525252 solid;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.05);
    box-sizing: border-box;
    background-color: #1a1a1a;
}


.profile-pic {
    width: 100px;
    border-radius: 50%;
    margin-bottom: -100px;
    margin-left: 82%;
    box-sizing: border-box;
}

.label {
    color: #fff;
    margin-left: 6px;
}

.info {
    color: #888;
    margin-bottom: 3px;

}

.card .observacao {
    background-color: #272727;
    border-left: 4px solid #a11a1a;
    padding: 8px;
    border-radius: 6px;
    color: #;
    font-style: italic;
}

.status {
    width: 128px;
}

.card .devices {
    display: none;
}

.card:hover .devices {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    box-sizing: border-box;
    font-size: 16px;
}

.device {
    flex: 1;
    padding: 10px 15px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1)
}

.device h4 {
    color: #31a803;
}

.device p {
    color: #fff;
}

.device strong {
    color: #888;
}

.card.active .devices {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    box-sizing: border-box;
    font-size: 16px;
}

.responsibility-link {
    width: 100%;
    margin: 10px auto;
    padding: px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.responsibility-link a {
    color: #31a803;
    text-decoration: none;
    font-weight: bold;
}

footer {
    background: #1a1a1a;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
}