/* Fonte refinada e clássica */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');


body {
    background-color: #f9f9f6;
    font-family: 'Cinzel', serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.home h1 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 10px;
}
.home p{
    text-align: center;
    font-size: 14px;
}
.container{
    display: grid;
   grid-template-columns: repeat(auto-fill, minmax(470px, 1fr));
   padding: 20px;
   gap: 10px;
}

.card {
    padding: 10px;
    width: 100%;
    cursor: pointer;
    transition: background 0.3s;
    border-radius: 12px;
    border: 1px #525252 solid;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.05);
    box-sizing: border-box;
    background-color: #EDEDED;
}

.profile-pic {
    width: 100px;
    border-radius: 50%;
}

.status {
    width: 128px;
}

.devices {
    display: none;
}
.device {
    flex: 1;
    padding: 10px 15px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1)
}

.device h4 {
    color: #31a803;
}

.device p {
    color: #2b2a2a;
}

.device strong {
    color: #1e1e1e;
}

.card.active .devices {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    box-sizing: border-box;
    font-size: 16px;
}
.responsibility-link {
    width: 100%;
    margin: 10px auto;
    padding: px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.responsibility-link a {
    color: #31a803;
    text-decoration: none;
    font-weight: bold;
}

footer {
    background: #2ecc71;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
}